
body{
    margin  : 0 ;
    padding : 0 ;
    background-color: whitesmoke ;
}
.container{
    background-color: black;
    padding:20px;
    height :400px;
    width :600px;
    margin: 100px auto;
}
h1{
     font-family: 'Times New Roman', Times, serif;
     color:green;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color:crimson
}


.container h1
{
    font-family:'Times New Roman', Times, serif;
    color:rgb(12, 202, 12);
}
.container h3
{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color :red;
}
.b
{
    text-align: start;
}
.rules li{
    text-align:start;
    color:yellow;
}

button 
{
    background-color:antiquewhite;
    padding: 10px 20px;
    border-radius: 10px;
    
}
input[type="number"] 
{
    width: 40%; 
    padding : 10px ;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

#checkButton {
    margin-left:100px;
    margin-right: 200px;
}
#message, #attempts 
{
    margin: 10px 0;
    font-style: italic;
    color: cyan;
}
.congratulations{

            background-color: #4CAF50;
            color: white;
            text-align: center;
            font-family: Arial, sans-serif;
            padding-top: 20%;
        
        a {
            color: #FFF;
            text-decoration: none;
            background-color: #000;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.2em;
        }
    }
    .trynxttime{
        
        background-color:yellow;
        color:red;
        text-align: center;
        font-family: Arial, sans-serif;
        padding-top: 20%;
    
    a {
        color: #FFF;
        text-decoration: none;
        background-color: #000;
        padding: 10px 20px;
        border-radius: 5px;
      
        font-size: 1.2em;
    }

}